<div class="comment">
  <img src="https://picsum.photos/200" />
  <div class="author-comment">
    <h4><%= comment.author.name %></h4>
    <p><%= comment.text %></p>
  </div>
  <% if can? :destroy, comment %>
    <%= form_with model: comment, url: author_post_comment_path(comment.author, comment.post, comment), method: :delete do |form| %>
      <%= form.submit "Delete", class: "btn" %>
    <% end %>
  <% end %>
</div>