<div class="author-list">
  <% @authors.includes([:posts]).each do |author| %>
    <%= link_to author_path(author), class: 'author-link' do %>
      <div class="author-card">    
        <img src=<%= author.photo %> />
        <div class = "author-details">
        
          <h2><%= author.name %></h2>
          
          <p>Number of posts: <%= author.posts.length %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
