<h1>New like</h1><br>

<%= form_with model: @like, url: author_post_likes_path, method: :post do |form| %>
  <%= form.submit "Like" %>

  <% if @like.errors.any? %>
    <% @like.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>
<% end %>