/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

ul {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  border-bottom: 1px solid gray;
  padding: 1rem;
}

footer {
  padding: 1rem;
  background-color: #ff3c00;
  display: flex;
  justify-content: center;
  margin-top: auto;
  color: white;
}
