.author-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.author-card {
  display: flex;
  background-color: white;
  border-radius: 5px;
  width: 18rem;
  padding: 1rem;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  min-width: max-content;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.author-card img {
  height: 4rem;
  border-radius: 50%;
}

.author-details {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .author-card p {
  justify-self: flex-end;
} */
